.logoNavbar {
  width: 2.5em !important;
}

.pagination-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
    
.pagination-wrapper .item-pagination {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.pagination-wrapper .item-pagination {
  margin-right: 2rem;
}

.ui.menu {
  border-radius: 0% !important;
  }
